<section id="milestones">
  <div id="heading">
    <h2>Milestones.map</h2>
  </div>
  <div class="timeline">
    <div class="milestone latest">
      <span class="dot"></span>
      <h3>11/10/2025</h3>
      <p>Started project: G.E.N.E.S.I.S</p>
    </div>
    <div class="milestone">
      <span class="dot"></span>
      <h3>09/10/2025</h3>
      <p>Started project: PositionPredict</p>
    </div>
    <div class="milestone">
      <span class="dot"></span>
      <div class="content">
        <h3>06/09/2025</h3>
        <p>Started project: Cipherlink</p>
      </div>
    </div>
    <div class="milestone">
      <span class="dot"></span>
      <div class="content">
        <h3>04/09/2025</h3>
        <p>Started project: OpenBoot</p>
      </div>
    </div>
    <div class="milestone">
      <span class="dot"></span>
      <div class="content">
        <h3>16/06/2025</h3>
        <p>Started project: RyanOS</p>
      </div>
    </div>
    <div class="milestone">
      <span class="dot"></span>
      <div class="content">
        <h3>13/06/2025</h3>
        <p>Started project: Slovakian Skywalker</p>
      </div>
    </div>
    <div class="milestone">
      <span class="dot"></span>
      <div class="content">
        <h3>27/12/2023</h3>
        <p>First GitHub Repository</p>
      </div>
    </div>
  </div>
</section>
