---

---

<section id="projects">
  <div id="heading">
    <h2>Projects.card - In Progress</h2>
  </div>
  <div class="cards">
    <div class="card" onclick="show('popup1')">
      <h3>Slovakian Skywalker</h3>
      <p>
        “A roaming space mirror for voices. A wandering eye above my homeland. A
        space-borne guestbook for dreamers”
      </p>
    </div>
    <div class="card" onclick="show('popup2')">
      <h3>OpenBoot</h3>
      <p>Dual-boot system for Android A/B Slot devices</p>
    </div>
    <div class="card" onclick="show('popup3')">
      <h3>EchoMesh</h3>
      <p>LoRa Mesh communication system</p>
    </div>
    <div class="card" onclick="show('popup4')">
      <h3>Cipherlink</h3>
      <p>Private & end-to-end encrypted communication system over Internet</p>
    </div>
  </div>
</section>
