---
import astroLogo from "../assets/astro.svg";
// import background from "../assets/background.svg";
import Readme from "./Readme.astro";
import Projects from "./Projects.astro";
import Milestones from "./Milestones.astro";
import Links from "./Links.astro";
---

<div id="container">
  <main>
    <section id="welcome">
      <h1 class="typewriter">> Welcome to Radoslav's Portfolio</h1>
    </section>
	<Readme></Readme>
	<Projects></Projects>
	<Milestones></Milestones>
    <Links></Links>
  </main>
</div>
