header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #2e293a; // #1cb9e6
  color: white;
  font-weight: 600;

  justify-content: center;
  align-content: center;
}

nav button {
  margin: 4px;
}
