<header>
  <nav id="main-nav">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <button class="button-35">Home</button></a
        >
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active"
          ><button class="button-35">Projects</button></a
        >
      </li>
      <li>
        <a routerLink="/aboutme" routerLinkActive="active"
          ><button class="button-35">About me</button></a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active"
          ><button class="button-35">Contact</button></a
        >
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>This is the footer innit?</p>
</footer>
